.action-button-container {
  min-width: 100%;
  min-height: 100%;
  z-index: 7;
  color: #f9f9f9;
  background-color: rgba(37, 187, 241, 0.8);

  animation: fadeIn ease 350ms;
  -webkit-animation: fadeIn ease 350ms;
  -moz-animation: fadeIn ease 350ms;
  -o-animation: fadeIn ease 350ms;
  -ms-animation: fadeIn ease 350ms;

  display: flex;
  flex-direction: column;
}

.img-block {
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
  margin: 0;
}

.img-block + img {
  margin: 0;
  padding: 0;
}

.value,
.button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0.5rem 0;
}

.value p {
  margin: 0;
  padding: 0 0.2rem;
  font-size: 2rem;
  color: white;
}

.coin-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.action-button {
  z-index: 9;
  min-width: 220px;
}

button.action-button:focus {
  box-shadow: 0 0.2rem 0.2rem 0.2rem #40b7cd;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
