.banner {
  background-image: url('../assets/header-x1.png');
  background-size: auto 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-color: #15dbff;
  min-height: 22rem;
  padding: 0 5rem;

  display: flex;
  align-items: center;
}

p.title {
  color: white;
  font-weight: bold;
  font-size: 64px;
  text-shadow: 2px 5px 10px black;
}

@media screen and (max-width: 900px) {
  .banner {
    min-height: 15rem;
    padding: 0 2rem;
  }
}

@media screen and (max-width: 600px) {
  .banner {
    min-height: 10rem;
    padding: 0 1rem;
  }
}