body {
  min-height: 100vh;
  max-width: 100%;
  margin: 0;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;

  background-color: #f9f9f9;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  color: #616161;
  margin: 0;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1.5rem;
  background-color: #fff;
  font-size: 1.5rem;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
  box-shadow: 0 0.2rem 0.2rem 0.2rem #dedede;
}
