body {
  min-height: 100vh;
  max-width: 100%;
  margin: 0;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;

  background-color: #f9f9f9;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
