.redem-container {
  padding: 1rem 2rem 0;
}

.product-description {
  display: flex;
  justify-content: center;
}

h3.title {
  color: #616161;
}

.card-description {
  background-color: rgba(37, 187, 241, 0.9);
  color: white;
  display: flex;
  flex-direction: row;
  padding: 1rem 5rem;
  border-radius: 1rem;
}

@media (max-width: 600px) {
  .card-description {
    padding: 0.5rem 1rem;
    flex-direction: column-reverse;
    align-items: center;
  }

  .redem-container {
    padding: 0;
  }
}

.card-description p,
.card-description h3 {
  font-size: 2rem;
  margin: 0.2rem;
}

.card-description h5 {
  font-size: 1.5rem;
  margin: 0;
  align-self: center;
}

.redeem-information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button-container {
  align-self: center;
  display: flex;
  justify-content: space-evenly;
}

.return-button {
  align-self: center;
  background-color: #ededed;
}

.return-button {
  margin: 2rem 0;
}

.confirm-button {
  min-width: 100px;
}

.confirm-button:focus {
  box-shadow: 0 0.2rem 0.2rem 0.2rem grey;
}
